
$liniar-gradiend-white-mode: linear-gradient(0.50turn, white, #33adff, white);
$liniar-gradiend-black-mode: linear-gradient(0.50turn, black, #33adff, black);
$font:'Comfortaa', cursive;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}





body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-repeat: no-repeat;
    background-size: 400% 500%;
    background-position: center;
	animation: gradient 15s ease infinite;
    font-family: 'Comfortaa', cursive;
	height: 100vh;
    color: #fff;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}









.weather-header {
    position: absolute;
    top: 10px;
    right: 20px;
}
.background-switcher {
    border: 1px solid #33adff;
    padding: 15px;
    border-radius: 30px;
    transition: all .5s ease;

    h1 {
        font-size:16px;
    }
}

.background-switcher:hover {
    background-color: #33adff;
    color:#fff;
}

.weather-content {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.weather-top__text {
    margin-top:30px;

    h2 {
        font-size: 55px;
    }
}

.title {
   color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;

}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.location-input {
    margin-top:100px;
      width:500px;
      max-width: 100%;
       

    input {
        border: 0;
        width: 100%;
        height: 60px;
        border-radius: 30px;
        text-align: center;
        font-size: 20px;
        font-family: $font;
        box-shadow: 0px 3px 15px 15px rgba(0, 0, 0, 0.2);
    }

    input::placeholder {
        font-size:17px;
    }

    input:focus {
        outline: 0;
    }
}


.background-switcher {
    cursor: pointer;
}








.weather-info__container {
    margin-top: 100px;
    max-width: 100%;
    width: 678px;
    background: linear-gradient(143.98deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.22) 100%);
    backdrop-filter: blur(50px);
    max-height: 100%;
    border-radius: 30px;
    box-shadow: 0px 4px 21px 16px rgba(34, 60, 80, 0.2);

    padding: 15px;
}
.weather-info__content {
    display: flex;
    flex-direction: column;
    align-items:center;
}
.city-name {
    margin-top:60px;
    font-size: 50px;
    text-align: center;
}

.temperature {
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    margin: 30px 0 0 0 ;
}

.weather-img {
    
   width: 100px;
   height: 100px;

   img { 
       width: 100px;
   }

}
.grades {
        display:flex;
    align-items:center;
    justify-content: center;
   font-size:80px;
   font-weight: 900;
   font-family: $font;

   span {

    font-size: 100px;
   }
   

   .celsius {
       margin-bottom: 50px;
         
       sup {
           font-size: 30px;
       }

       .c {
           font-size:50px;
       }
   }

     
}


.temp {
    margin: 0 0 0 0 ;
     
}
.summary {
    text-align: center;
    font-size: 30px;
    margin:30px 0 0 0;
}


.other-details {
    display:flex;
   margin: 100px 0 0 0;
    justify-content: center;
     width: 500px;
     max-width: 100%;
}


.other-details__content {
     font-size: 20px;
    display:flex;
    width:100%;
    justify-content: space-between;
    text-align: center;
}

.humidity-value {
    font-weight: 700;
}
.hu-value {
    font-size: 25px;
}
.humidity-title {
    margin:10px 0 0 0;
}

.pressure-value {
    font-weight: 700;
}
.pressure {
    font-size: 25px;
}
.pressure-title {
    margin: 10px 0 0 0 ;
}

.wind-value {
    font-weight: 700;
}
.wind {
    font-size: 25px;
}
.wind-title {
    margin: 10px 0 0 0;
}


.horizontal-line { 
    display: none;
    width:100%;
    height:2px;
    background-color: lightGray;

}




@media only screen and (max-width: 424px) { 
    .weather-top__text {
        h2 {
            font-size: 40px;
        }


    }

    .other-details__content { 
        font-size: 17px;


        .wind , .pressure , .hu-value { 
            font-size: 18px;
        }
    }
}


@media only screen and (max-width: 360.98px) {

    .other-details__content {
        flex-direction: column;


        .pressure-content {
            margin: 20px 0 20px 0;
        }
    }

    .horizontal-line { 
        display: block;
    }

    .horizontal-line {
        margin:30px 0 30px 0;
    }

    .grades { 
        font-size: 60px;
        margin-bottom: 30px;
    }

    .city {
        font-size:30px;
    }
}




