$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

$font:'Comfortaa',
cursive;

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}






body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-repeat: no-repeat;
    background-size: 400% 500%;
    background-position: center;
    animation: gradient 15s ease infinite;
    font-family: 'Comfortaa', cursive;
    color: #fff;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



main {
    padding: 10px;
}


.weather-header {
    position: absolute;
    top: 10px;
    right: 20px;
}

.weather-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.weather-top__text {
    margin-top: 30px;

    h1 {
        font-size: 55px;
    }
}

.title {
    color: #f35626;
    background-image:  linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 10s infinite linear;
    

}

@keyframes hue {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(-360deg);
    }
}



.location-input {
    margin-top: 100px;
    width: 500px;
    max-width: 100%;


    input {
        border: 0;
        width: 100%;
        height: 60px;
        border-radius: 30px;
        text-align: center;
        font-size: 20px;
        font-family: $font;
        box-shadow: 0px 3px 15px 15px rgba(0, 0, 0, 0.2);
    }

    input::placeholder {
        font-size: 17px;
    }

    input:focus {
        outline: 0;
    }

}


.input-button {
    margin-top: 20px;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;

    &.learn-more {
        font-weight: 600;
        color: $text;
        text-transform: uppercase;
        padding: 1.25em 2em;
        background: $light-pink;
        border: 2px solid $pink-border;
        border-radius: 0.75em;
        transform-style: preserve-3d;
        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);

        &:hover {
            background: $pink;
            transform: translate(0, 0.25em);

            &::before {

                transform: translate3d(0, 0.5em, -1em);
            }
        }

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $dark-pink;
            border-radius: inherit;

            transform: translate3d(0, 0.75em, -1em);
            transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
        }

        &:active {
            background: $pink;
            transform: translate(0em, 0.75em);

            &::before {

                transform: translate3d(0, 0, -1em);
            }
        }
    }
}

.hov:focus {
    background: $pink;
    transform: translate(0, 0.25em);

    &::before {

        transform: translate3d(0, 0.5em, -1em);
    }
}


.loader {
    display: none;
    align-items: center;
    margin: 300px auto;
    border: 5px solid hsl(193, 38%, 86%);
    /* Light grey */
    border-top: 5px solid hsl(217, 19%, 24%);
    ;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.background-switcher {
    cursor: pointer;
}








.weather-info__container {
    margin-top: 100px;
    max-width: 100%;
    width: 678px;
    background: linear-gradient(143.98deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.22) 100%);
    backdrop-filter: blur(50px);
    max-height: 100%;
    border-radius: 30px;
    box-shadow: 0px 4px 21px 16px rgba(34, 60, 80, 0.2);

    padding: 15px;
}

.weather-info__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city-name {
    margin-top: 60px;
    font-size: 50px;
    text-align: center;
}

.temperature {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 30px 0 0;
}

.weather-img {

    width: 100px;
    height: 100px;

    img {
        width: 100px;
    }

}

.grades {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: 900;
    font-family: $font;

    span {

        font-size: 100px;
    }


    .celsius {
        margin-bottom: 50px;

        sup {
            font-size: 30px;
        }

        .c {
            font-size: 50px;
        }
    }


}


.temp {
    margin: 0 0 0 0;

}

.summary {
    text-align: center;
    font-size: 30px;
    margin: 30px 0 0 0;
}


.other-details {
    display: flex;
    margin: 100px 0 0 0;
    justify-content: center;
    width: 500px;
    max-width: 100%;
}


.other-details__content {
    font-size: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}

.humidity-value {
    font-weight: 700;
}

.hu-value {
    font-size: 25px;
}

.humidity-title {
    margin: 10px 0 0 0;
}

.pressure-value {
    font-weight: 700;
}

.pressure {
    font-size: 25px;
}

.pressure-title {
    margin: 10px 0 0 0;
}

.wind-value {
    font-weight: 700;
}

.wind {
    font-size: 25px;
}

.wind-title {
    margin: 10px 0 0 0;
}


.horizontal-line {
    display: none;
    width: 100%;
    height: 2px;
    background-color: lightGray;

}




@media only screen and (max-width: 428.98px) {
    .weather-top__text {
        h1 {
            font-size: 30px;
        }


    }

    .other-details__content {
        font-size: 17px;


        .wind,
        .pressure,
        .hu-value {
            font-size: 18px;
        }
    }

    .location-input {
        margin-top: 50px;
    }
    
}


@media only screen and (max-width: 410.98px) {

   
    
    
    .other-details__content {
        flex-direction: column;


        .pressure-content {
            margin: 20px 0 20px 0;
        }
    }

    .horizontal-line {
        display: block;
    }

    .horizontal-line {
        margin: 30px 0 30px 0;
    }

    .grades {
        font-size: 60px;
        margin-bottom: 30px;
    }

    .city {
        font-size: 30px;

    }
}









/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}



#map { 
    height: 500px; 
    border-radius: 30px;
}




.converter__container {
   padding: 0 15px 0 0px;
   position: fixed;
   z-index: 10;

}


.converter__button {
    cursor: pointer;
     margin-top: 5px;
     i {
         font-size: 30px;
     }

    
    
}

.converter-close {
    transform: translateX(-100%); 
    transition: all .5s ease;
}

.converter__content {
   transition: all .5s ease;
    margin-top: 20px;
    position: relative;
    max-width: 100%;
    width: 300px;
    height: 300px;
    background-color: #fff;  
    color: #000;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 4px 21px 16px rgba(34, 60, 80, 0.2);


    
    .amount{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;



        input {
            width: 100%;
            height: 30px;
            border-radius: 10px;
            border: 0;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
            padding: 5px;
            font-size: 17px;
            margin-top: 10px;
        }

        
        
    }
    


    .currency {
        display: flex;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }


    .drop-list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;


        .select-box {

            margin: 0 10px 0 10px;
             img {
                 width: 40px;
             }

        }

        i {
            font-size: 25px;
        }


        select {
            height: 30px;
            border-radius: 30px;
            background-color: #fff;
            border: 0;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        }
        
    }


         .close-button {
             cursor: pointer;
         }


        .close::before , .close::after{
            content: "";
            position: absolute;
            width: 2px;
            height: 15px;
            background-color: #000;
            right: 20px;
            top: 20px;
        }


        .close::after {
            transform: rotate(-45deg);
        }

        .close:before {
            transform: rotate(45deg);
        }

    .exchange-rate {

       
        input {
            width: 100%;
            height: 30px;
            border-radius: 10px;
            border: 0;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
            padding: 5px;
            font-size: 17px;
            margin-top: 15px;
        } 
    }



}



.button-52 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    z-index: 1;
    user-select: none;
    touch-action: manipulation;
    margin-top: 15px;
  }

  
  .button-52:after {
    content: "";
     background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-52:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media (min-width: 768px) {
    .button-52 {
      padding: 13px 50px 13px;
    }
  }


